body {
  background-color: var(--color-background);
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 60px; 
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.open-modal-btn {
  display: block;
  background-color: var(--color-accent);
  color: var(--color-background);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}

.open-modal-btn:hover {
  background-color: var(--color-accent-hover);
}

.post {
  background-color: var(--color-card-background);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  color: var(--color-text-secondary);
}

.post-content {
  margin-top: 10px;
}

.post-content img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.post-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.post-actions button {
  background-color: transparent;
  border: none;
  color: var(--color-accent);
  cursor: pointer;
}

.post-actions button:hover {
  color: var(--color-accent-hover);
  text-decoration: underline;
}

/* Comment Form */
.comment-form {
  margin-top: 10px;
}

.comment-input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.comment-form button {
  background-color: var(--color-accent);
  color: var(--color-background);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: var(--color-accent-hover);
}

