body {
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-button);
  color: var(--color-background);
}

button:hover {
  background-color: var(--color-button-hover);
}
